{% extends "base.html" %}




{% block title_content %}
blog | {{blog.id}}
{% endblock  %}






{% block body_content %}
    <div class="container">
        <div class="row">
            {% comment %} {% include "partials/_catogories.html" %} {% endcomment %}
            <div class="col-9">
                
                {% if blog.is_active %}
                    {% include "blog_tmp/partials/_blog.html" %}
                {% endif %}

            </div>
        </div>
    </div>
    
{% endblock  %}
   