<div class="col-3">
    <div class="list-group">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              The current link item
            </a>
            <a href="#" class="list-group-item list-group-item-action">Home</a>
            <a href="#" class="list-group-item list-group-item-action">Blog</a>
            <a href="#" class="list-group-item list-group-item-action">Python</a>
            <a class="list-group-item list-group-item-action disabled">Bee Arge</a>
          </div>  
    </div>
</div>