{% load static %}

  <nav class="navbar navbar-dark navbar-expand-lg bg-dark ">
    <div class="container">
        <img src="{% static 'img/hacker.jpg' %}" alt="" width="30" height="24" class="float-left ">
      <a class="navbar-brand me-2" href="">Bee Ar-Ge</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse me-5 justify-content-center" id="navbarText">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item me-1">
                    <button type="" class="btn btn-dark">Bee Ar-Ge</button>
                </li>
                <li class="nav-item me-1">  
                    <li class="nav-item dropdown me-1">
                        <a class="nav-item dropdown" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <button type="button" class="btn btn-dark" >Ürünlerimiz</button>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                          <li><a class="dropdown-item" href="1">Blog 1</a></li>
                          <li><a class="dropdown-item" href="2">Blog 2</a></li>
                          <li><a class="dropdown-item" href="3">Blog 3</a></li>
                        </ul>
                      </li>
                </li>
                <li class="nav-item me-1">
                    <button type="button" class="btn btn-dark">İletişim</button>
                </li>
            </ul>
      </div>
    </div>
  </nav>


  