{% load static %}

  <nav class="navbar navbar-dark navbar-expand-lg bg-dark ">
    <div class="container">
        <img src="{% static 'img/hacker.jpg' %}" alt="" width="30" height="24" class="float-left ">
      <a class="navbar-brand me-2" href="{% url 'home' %}">Bee Ar-Ge</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse me-5 justify-content-center" id="navbarText">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item me-1">
                    {% comment %} <button type="btn" class="btn btn-dark" href="http://localhost:8000">Bee Ar-Ge</button> {% endcomment %}
                    <a href="{% url 'home' %}" class="btn btn-dark" role="button" aria-pressed="true">Bee Ar-Ge</a>
                </li>
                <li class="nav-item me-1">  
                    <li class="nav-item dropdown me-1">
                        <a class="nav-item dropdown" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <button type="button" class="btn btn-dark" >Ürünlerimiz</button>
                            
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                          {% for ful in fuls %}
                            <li><a class="dropdown-item" href="{% url 'blog_details' ful.id %}">Blog {{ful.id}}</a></li>
                          {% endfor %}
                          {% comment %} <li><a class="dropdown-item" href="{% url 'blog_details' 2 %}">Blog 2</a></li>
                          <li><a class="dropdown-item" href="{% url 'blog_details' 3 %}">Blog 3</a></li> {% endcomment %}
                          <div class="dropdown-divider"></div>
                          <li><a class="dropdown-item" href="{% url 'blogs' %}">Tümü</a></li>

                        </ul>
                      </li>
                </li>
                <li class="nav-item me-1">
                    <button type="button" href="http://localhost:8000" class="btn btn-dark">İletişim</button>
                </li>
            </ul>
      </div>
    </div>
  </nav>


  